.aboutme{
    margin: 20px 100px 0px 100px;
}

.aboutme-title {
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: space-between;
}

.aboutme-title p{
    font-size: 30px;
    margin: 0px;
    width: 15%;
    text-align: left;
}

.aboutme-title-division{
    height: 1px;
    margin: 22px 0px 17px 0px;
    width: 85%;
    background-color: #424242;
}


.aboutme-contents{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#memo{
    margin: 140px 0px 0px 300px;
}

.aboutme-contents-information{
    margin: 200px 300px 0px 0px;
}

.aboutme-contents-information-name, .aboutme-contents-information-birth,
.aboutme-contents-information-address, .aboutme-contents-information-github,
.aboutme-contents-information-email{
    display: flex;
    margin: 10px 0px 10px 0px;
}

#aboutme-p-icon{ /*아이콘 감싸는 p태그*/
    width: 30px;
    height: 30px;
    padding: 6px;
    margin: 0px 15px 0px 0px;
    background-color: #2196F3;
    border-radius: 50%;
}

#aboutme-icon{ /* 아이콘 */
    font-size: 30px;
    margin: 0px;
}

#aboutme-p{ /* 글 */
    font-size: 20px;
    height: 30px;
    margin: 6px 0px 6px 0px;
}
